body{
    background-color: #f3f4f6;
}




div{
    
    font-family: sans-serif;
    border: 1px solid black;
    height: 450px;
    width: 350px;
    margin-left: 600px;
    margin-top: 150px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px  4px  12px, rgba(0,0, 0, 0.08);
    
}


img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}







h3{
font-size: 20px;
font-weight: 700;
text-align: center;
color: #1f2937;
border: 1px solid #f3f4f6;
}

.salam{
    font-size: 18px;
    font-weight: 600;
    color: #2563eb
}

.sagol{
    font-size: 14px;
    color: #4b5563;
    text-align: center;
}
ul{
    font-size: 14px;
    text-align: left;
}

button{
    background: #4043e6;
    color: white;
    padding: 12px, 20px;
    border: none;
    border-radius: 6px;
    width: 100%;
    font-weight: 600;
}

button:hover{
    background-color: grey;
}